# import pandas, numpy, json, pprint, and requests

In [2]:
# pip install beautifulsoup4

In [3]:
import pandas as pd
import numpy as np
import json
import pprint
import requests
from bs4 import BeautifulSoup

In [21]:
pd.set_option('display.width', 80)
pd.set_option('display.max_columns',20)

# parse the web page and get the header row of the table

In [ ]:
# Récupérer le contenu de la page web
# Ouvrir le fichier local
with open("mypage.html", "r", encoding="utf-8") as file:
    content = file.read()
bs = BeautifulSoup(content, "lxml")
theadrows = bs.find('table', {'id':'tblDeaths'}).thead.find_all('th')

In [12]:
print(theadrows)

[<th align="center" height="18" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="top"><b><font color="#000000">Country</font></b></th>, <th align="center" sdnum="1033;0;0" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="top"><b><font color="#000000">Cases</font></b></th>, <th align="center" sdnum="1033;0;0" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="top"><b><font color="#000000">Deaths</font></b></th>, <th align="center" sdnum="1033;0;0" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="top"><b><font color="#000000">Cases per Million</font></b></th>, <th align="center" sdnum="1033;0;0" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="top"><b><font color="#000000">Deaths per Million</font></b></th>, <th align="center" sdnum="1033;0;0" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="top"><b><font color="#000000">population</font></b></th>, <th align="center" sdnum="1033;0;0" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="top"><b><font color="#000000">population_density</font></b></th>, <th align="center" sdnum="1033;0;0" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="top"><b><font color="#000000">median_age</font></b></th>, <th align="center" sdnum="1033;0;0" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="top"><b><font color="#000000">gdp_per_capita</font></b></th>, <th align="center" sdnum="1033;0;0.0" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" valign="top"><b><font color="#000000">hospital_beds_per_100k</font></b></th>]

In [13]:
type(theadrows)

bs4.element.ResultSet

In [14]:
labelcols = [j.get_text() for j in theadrows]
print(labelcols)
labelcols[0] = "rowheadings"
print(labelcols)

['Country', 'Cases', 'Deaths', 'Cases per Million', 'Deaths per Million', 'population', 'population_density', 'median_age', 'gdp_per_capita', 'hospital_beds_per_100k']
['rowheadings', 'Cases', 'Deaths', 'Cases per Million', 'Deaths per Million', 'population', 'population_density', 'median_age', 'gdp_per_capita', 'hospital_beds_per_100k']

# Get the data from the table cells

In [ ]:
rows = bs.find('table', {'id':'tblDeaths'}).tbody.find_all('tr')
datarows = []
labelrows = []
for row in rows:
  rowlabels = row.find('th').get_text()
  cells = row.find_all('td', {'class':'data'})
  if (len(rowlabels)>3):
    labelrows.append(rowlabels) 
  if (len(cells)>0):
    cellvalues = [j.get_text() for j in cells]
    datarows.append(cellvalues)

In [24]:
print(type(rows))

<class 'bs4.element.ResultSet'>

In [26]:
# print(rows)

In [16]:
print(labelrows)

['Algeria', 'Austria', 'Bangladesh', 'Belgium', 'Brazil', 'Canada', 'Chile', 'China', 'Colombia', 'Ecuador', 'Egypt', 'France', 'Germany', 'India', 'Indonesia', 'Iran', 'Ireland', 'Italy', 'Japan', 'Mexico', 'Netherlands', 'Pakistan', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania', 'Russia', 'South Africa', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'Ukraine', 'United Kingdom', 'United States']

In [17]:
print(datarows)

[['9,394', '653', '214', '15', '43,851,043', '17', '29', '13,914', '1.9'], ['16,642', '668', '1848', '74', '9,006,400', '107', '44', '45,437', '7.4'], ['47,153', '650', '286', '4', '164,689,383', '1265', '28', '3,524', '0.8'], ['58,381', '9467', '5037', '817', '11,589,616', '376', '42', '42,659', '5.6'], ['514,849', '29314', '2422', '138', '212,559,409', '25', '34', '14,103', '2.2'], ['90,936', '7295', '2409', '193', '37,742,157', '4', '41', '44,018', '2.5'], ['99,688', '1054', '5215', '55', '19,116,209', '24', '35', '22,767', '2.1'], ['84,147', '4638', '58', '3', '1439,323,774', '148', '39', '15309', '4.3'], ['29,383', '939', '577', '18', '50,882,884', '44', '32', '13,255', '1.7'], ['39,098', '3358', '2216', '190', '17,643,060', '67', '28', '10,582', '1.5'], ['24,985', '959', '244', '9', '102,334,403', '98', '25', '10,550', '1.6'], ['151,753', '28802', '2325', '441', '65,273,512', '123', '42', '38,606', '6.0'], ['181,815', '8511', '2170', '102', '83,783,945', '237', '47', '45,229', '8.0'], ['190,535', '5394', '138', '4', '1,380,004,385', '450', '28', '6,427', '0.5'], ['26,473', '1613', '97', '6', '273,523,621', '146', '29', '11,189', '1.0'], ['151,466', '7797', '1803', '93', '83,992,953', '50', '32', '19,083', '1.5'], ['24,990', '1652', '5061', '335', '4,937,796', '70', '39', '67,335', '3.0'], ['233,019', '33415', '3854', '553', '60,461,828', '206', '48', '35,220', '3.2'], ['16,884', '892', '133', '7', '126,476,458', '348', '48', '39,002', '13.1'], ['90,664', '9930', '703', '77', '128,932,753', '66', '29', '17,336', '1.4'], ['46,442', '5956', '2710', '348', '17,134,873', '509', '43', '48,473', '3.3'], ['72,460', '1543', '328', '7', '220,892,331', '256', '24', '5,035', '0.6'], ['164,476', '4506', '4988', '137', '32,971,846', '25', '29', '12,237', '1.6'], ['18,086', '957', '165', '9', '109,581,085', '352', '25', '7,599', '1.0'], ['23,786', '1064', '628', '28', '37,846,605', '124', '42', '27,216', '6.6'], ['32,500', '1410', '3187', '138', '10,196,707', '112', '46', '27,937', '3.4'], ['19,257', '1262', '1001', '66', '19,237,682', '85', '43', '23,313', '6.9'], ['405,843', '4693', '2781', '32', '145,934,460', '9', '40', '24,766', '8.1'], ['32,683', '683', '551', '12', '59,308,690', '47', '27', '12,295', '2.3'], ['239,429', '27127', '5121', '580', '46,754,783', '93', '46', '34,272', '3.0'], ['37,542', '4395', '3717', '435', '10,099,270', '25', '41', '46,949', '2.2'], ['30,779', '1656', '3556', '191', '8,654,618', '214', '43', '57,410', '4.5'], ['163,942', '4540', '1944', '54', '84,339,067', '105', '32', '25,129', '2.8'], ['23,672', '708', '541', '16', '43,733,759', '77', '41', '7,894', '8.8'], ['274,762', '38489', '4047', '567', '67,886,004', '273', '41', '39,753', '2.5'], ['1,790,191', '104383', '5408', '315', '331,002,647', '36', '38', '54,225', '2.8']]

# Insérer au début de chaque ligne de datarows le nom du pays qui sont stokés dans labelsrows en utilisant la fonction insert

In [18]:
for i in range(len(datarows)):
  datarows[i].insert(0, labelrows[i])

print(datarows[0:4])
print(datarows)

[['Algeria', '9,394', '653', '214', '15', '43,851,043', '17', '29', '13,914', '1.9'], ['Austria', '16,642', '668', '1848', '74', '9,006,400', '107', '44', '45,437', '7.4'], ['Bangladesh', '47,153', '650', '286', '4', '164,689,383', '1265', '28', '3,524', '0.8'], ['Belgium', '58,381', '9467', '5037', '817', '11,589,616', '376', '42', '42,659', '5.6']]
[['Algeria', '9,394', '653', '214', '15', '43,851,043', '17', '29', '13,914', '1.9'], ['Austria', '16,642', '668', '1848', '74', '9,006,400', '107', '44', '45,437', '7.4'], ['Bangladesh', '47,153', '650', '286', '4', '164,689,383', '1265', '28', '3,524', '0.8'], ['Belgium', '58,381', '9467', '5037', '817', '11,589,616', '376', '42', '42,659', '5.6'], ['Brazil', '514,849', '29314', '2422', '138', '212,559,409', '25', '34', '14,103', '2.2'], ['Canada', '90,936', '7295', '2409', '193', '37,742,157', '4', '41', '44,018', '2.5'], ['Chile', '99,688', '1054', '5215', '55', '19,116,209', '24', '35', '22,767', '2.1'], ['China', '84,147', '4638', '58', '3', '1439,323,774', '148', '39', '15309', '4.3'], ['Colombia', '29,383', '939', '577', '18', '50,882,884', '44', '32', '13,255', '1.7'], ['Ecuador', '39,098', '3358', '2216', '190', '17,643,060', '67', '28', '10,582', '1.5'], ['Egypt', '24,985', '959', '244', '9', '102,334,403', '98', '25', '10,550', '1.6'], ['France', '151,753', '28802', '2325', '441', '65,273,512', '123', '42', '38,606', '6.0'], ['Germany', '181,815', '8511', '2170', '102', '83,783,945', '237', '47', '45,229', '8.0'], ['India', '190,535', '5394', '138', '4', '1,380,004,385', '450', '28', '6,427', '0.5'], ['Indonesia', '26,473', '1613', '97', '6', '273,523,621', '146', '29', '11,189', '1.0'], ['Iran', '151,466', '7797', '1803', '93', '83,992,953', '50', '32', '19,083', '1.5'], ['Ireland', '24,990', '1652', '5061', '335', '4,937,796', '70', '39', '67,335', '3.0'], ['Italy', '233,019', '33415', '3854', '553', '60,461,828', '206', '48', '35,220', '3.2'], ['Japan', '16,884', '892', '133', '7', '126,476,458', '348', '48', '39,002', '13.1'], ['Mexico', '90,664', '9930', '703', '77', '128,932,753', '66', '29', '17,336', '1.4'], ['Netherlands', '46,442', '5956', '2710', '348', '17,134,873', '509', '43', '48,473', '3.3'], ['Pakistan', '72,460', '1543', '328', '7', '220,892,331', '256', '24', '5,035', '0.6'], ['Peru', '164,476', '4506', '4988', '137', '32,971,846', '25', '29', '12,237', '1.6'], ['Philippines', '18,086', '957', '165', '9', '109,581,085', '352', '25', '7,599', '1.0'], ['Poland', '23,786', '1064', '628', '28', '37,846,605', '124', '42', '27,216', '6.6'], ['Portugal', '32,500', '1410', '3187', '138', '10,196,707', '112', '46', '27,937', '3.4'], ['Romania', '19,257', '1262', '1001', '66', '19,237,682', '85', '43', '23,313', '6.9'], ['Russia', '405,843', '4693', '2781', '32', '145,934,460', '9', '40', '24,766', '8.1'], ['South Africa', '32,683', '683', '551', '12', '59,308,690', '47', '27', '12,295', '2.3'], ['Spain', '239,429', '27127', '5121', '580', '46,754,783', '93', '46', '34,272', '3.0'], ['Sweden', '37,542', '4395', '3717', '435', '10,099,270', '25', '41', '46,949', '2.2'], ['Switzerland', '30,779', '1656', '3556', '191', '8,654,618', '214', '43', '57,410', '4.5'], ['Turkey', '163,942', '4540', '1944', '54', '84,339,067', '105', '32', '25,129', '2.8'], ['Ukraine', '23,672', '708', '541', '16', '43,733,759', '77', '41', '7,894', '8.8'], ['United Kingdom', '274,762', '38489', '4047', '567', '67,886,004', '273', '41', '39,753', '2.5'], ['United States', '1,790,191', '104383', '5408', '315', '331,002,647', '36', '38', '54,225', '2.8']]

# Load the data into pandas

In [22]:
totaldeaths = pd.DataFrame(datarows, columns=labelcols)

In [23]:
totaldeaths

,rowheadings,Cases,Deaths,Cases per Million,Deaths per Million,population,population_density,median_age,gdp_per_capita,hospital_beds_per_100k
0,Algeria,"9,394",653,214,15,"43,851,043",17,29,"13,914",1.9
1,Austria,"16,642",668,1848,74,"9,006,400",107,44,"45,437",7.4
2,Bangladesh,"47,153",650,286,4,"164,689,383",1265,28,"3,524",0.8
3,Belgium,"58,381",9467,5037,817,"11,589,616",376,42,"42,659",5.6
4,Brazil,"514,849",29314,2422,138,"212,559,409",25,34,"14,103",2.2
5,Canada,"90,936",7295,2409,193,"37,742,157",4,41,"44,018",2.5
6,Chile,"99,688",1054,5215,55,"19,116,209",24,35,"22,767",2.1
7,China,"84,147",4638,58,3,"1439,323,774",148,39,15309,4.3
8,Colombia,"29,383",939,577,18,"50,882,884",44,32,"13,255",1.7
9,Ecuador,"39,098",3358,2216,190,"17,643,060",67,28,"10,582",1.5
10,Egypt,"24,985",959,244,9,"102,334,403",98,25,"10,550",1.6
11,France,"151,753",28802,2325,441,"65,273,512",123,42,"38,606",6.0
12,Germany,"181,815",8511,2170,102,"83,783,945",237,47,"45,229",8.0
13,India,"190,535",5394,138,4,"1,380,004,385",450,28,"6,427",0.5
14,Indonesia,"26,473",1613,97,6,"273,523,621",146,29,"11,189",1.0
15,Iran,"151,466",7797,1803,93,"83,992,953",50,32,"19,083",1.5
16,Ireland,"24,990",1652,5061,335,"4,937,796",70,39,"67,335",3.0
17,Italy,"233,019",33415,3854,553,"60,461,828",206,48,"35,220",3.2
18,Japan,"16,884",892,133,7,"126,476,458",348,48,"39,002",13.1
19,Mexico,"90,664",9930,703,77,"128,932,753",66,29,"17,336",1.4
20,Netherlands,"46,442",5956,2710,348,"17,134,873",509,43,"48,473",3.3
21,Pakistan,"72,460",1543,328,7,"220,892,331",256,24,"5,035",0.6
22,Peru,"164,476",4506,4988,137,"32,971,846",25,29,"12,237",1.6
23,Philippines,"18,086",957,165,9,"109,581,085",352,25,"7,599",1.0
24,Poland,"23,786",1064,628,28,"37,846,605",124,42,"27,216",6.6
25,Portugal,"32,500",1410,3187,138,"10,196,707",112,46,"27,937",3.4
26,Romania,"19,257",1262,1001,66,"19,237,682",85,43,"23,313",6.9
27,Russia,"405,843",4693,2781,32,"145,934,460",9,40,"24,766",8.1
28,South Africa,"32,683",683,551,12,"59,308,690",47,27,"12,295",2.3
29,Spain,"239,429",27127,5121,580,"46,754,783",93,46,"34,272",3.0
30,Sweden,"37,542",4395,3717,435,"10,099,270",25,41,"46,949",2.2
31,Switzerland,"30,779",1656,3556,191,"8,654,618",214,43,"57,410",4.5
32,Turkey,"163,942",4540,1944,54,"84,339,067",105,32,"25,129",2.8
33,Ukraine,"23,672",708,541,16,"43,733,759",77,41,"7,894",8.8
34,United Kingdom,"274,762",38489,4047,567,"67,886,004",273,41,"39,753",2.5
35,United States,"1,790,191",104383,5408,315,"331,002,647",36,38,"54,225",2.8

In [20]:
totaldeaths.dtypes

rowheadings               object
Cases                     object
Deaths                    object
Cases per Million         object
Deaths per Million        object
population                object
population_density        object
median_age                object
gdp_per_capita            object
hospital_beds_per_100k    object
dtype: object

# Correction des noms des colonnes et conversion des données en valeurs numériques

In [28]:
totaldeaths.columns = totaldeaths.columns.str.replace(" ", "_").str.lower()

In [29]:
totaldeaths

,rowheadings,cases,deaths,cases_per_million,deaths_per_million,population,population_density,median_age,gdp_per_capita,hospital_beds_per_100k
0,Algeria,"9,394",653,214,15,"43,851,043",17,29,"13,914",1.9
1,Austria,"16,642",668,1848,74,"9,006,400",107,44,"45,437",7.4
2,Bangladesh,"47,153",650,286,4,"164,689,383",1265,28,"3,524",0.8
3,Belgium,"58,381",9467,5037,817,"11,589,616",376,42,"42,659",5.6
4,Brazil,"514,849",29314,2422,138,"212,559,409",25,34,"14,103",2.2
5,Canada,"90,936",7295,2409,193,"37,742,157",4,41,"44,018",2.5
6,Chile,"99,688",1054,5215,55,"19,116,209",24,35,"22,767",2.1
7,China,"84,147",4638,58,3,"1439,323,774",148,39,15309,4.3
8,Colombia,"29,383",939,577,18,"50,882,884",44,32,"13,255",1.7
9,Ecuador,"39,098",3358,2216,190,"17,643,060",67,28,"10,582",1.5
10,Egypt,"24,985",959,244,9,"102,334,403",98,25,"10,550",1.6
11,France,"151,753",28802,2325,441,"65,273,512",123,42,"38,606",6.0
12,Germany,"181,815",8511,2170,102,"83,783,945",237,47,"45,229",8.0
13,India,"190,535",5394,138,4,"1,380,004,385",450,28,"6,427",0.5
14,Indonesia,"26,473",1613,97,6,"273,523,621",146,29,"11,189",1.0
15,Iran,"151,466",7797,1803,93,"83,992,953",50,32,"19,083",1.5
16,Ireland,"24,990",1652,5061,335,"4,937,796",70,39,"67,335",3.0
17,Italy,"233,019",33415,3854,553,"60,461,828",206,48,"35,220",3.2
18,Japan,"16,884",892,133,7,"126,476,458",348,48,"39,002",13.1
19,Mexico,"90,664",9930,703,77,"128,932,753",66,29,"17,336",1.4
20,Netherlands,"46,442",5956,2710,348,"17,134,873",509,43,"48,473",3.3
21,Pakistan,"72,460",1543,328,7,"220,892,331",256,24,"5,035",0.6
22,Peru,"164,476",4506,4988,137,"32,971,846",25,29,"12,237",1.6
23,Philippines,"18,086",957,165,9,"109,581,085",352,25,"7,599",1.0
24,Poland,"23,786",1064,628,28,"37,846,605",124,42,"27,216",6.6
25,Portugal,"32,500",1410,3187,138,"10,196,707",112,46,"27,937",3.4
26,Romania,"19,257",1262,1001,66,"19,237,682",85,43,"23,313",6.9
27,Russia,"405,843",4693,2781,32,"145,934,460",9,40,"24,766",8.1
28,South Africa,"32,683",683,551,12,"59,308,690",47,27,"12,295",2.3
29,Spain,"239,429",27127,5121,580,"46,754,783",93,46,"34,272",3.0
30,Sweden,"37,542",4395,3717,435,"10,099,270",25,41,"46,949",2.2
31,Switzerland,"30,779",1656,3556,191,"8,654,618",214,43,"57,410",4.5
32,Turkey,"163,942",4540,1944,54,"84,339,067",105,32,"25,129",2.8
33,Ukraine,"23,672",708,541,16,"43,733,759",77,41,"7,894",8.8
34,United Kingdom,"274,762",38489,4047,567,"67,886,004",273,41,"39,753",2.5
35,United States,"1,790,191",104383,5408,315,"331,002,647",36,38,"54,225",2.8

In [30]:
for col in totaldeaths.columns[1:-1]:
  totaldeaths[col] = totaldeaths[col].str.replace("[^0-9]","").astype('int64')

/tmp/ipykernel_16285/3890166324.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  totaldeaths[col] = totaldeaths[col].str.replace("[^0-9]","").astype('int64')

In [32]:
totaldeaths.head()

,rowheadings,cases,deaths,cases_per_million,deaths_per_million,population,population_density,median_age,gdp_per_capita,hospital_beds_per_100k
0,Algeria,9394,653,214,15,43851043,17,29,13914,1.9
1,Austria,16642,668,1848,74,9006400,107,44,45437,7.4
2,Bangladesh,47153,650,286,4,164689383,1265,28,3524,0.8
3,Belgium,58381,9467,5037,817,11589616,376,42,42659,5.6
4,Brazil,514849,29314,2422,138,212559409,25,34,14103,2.2

In [33]:
totaldeaths.dtypes

rowheadings               object
cases                      int64
deaths                     int64
cases_per_million          int64
deaths_per_million         int64
population                 int64
population_density         int64
median_age                 int64
gdp_per_capita             int64
hospital_beds_per_100k    object
dtype: object

In [36]:
totaldeaths['hospital_beds_per_100k'] = totaldeaths['hospital_beds_per_100k'].astype('float')

In [37]:
totaldeaths.head()

,rowheadings,cases,deaths,cases_per_million,deaths_per_million,population,population_density,median_age,gdp_per_capita,hospital_beds_per_100k
0,Algeria,9394,653,214,15,43851043,17,29,13914,1.9
1,Austria,16642,668,1848,74,9006400,107,44,45437,7.4
2,Bangladesh,47153,650,286,4,164689383,1265,28,3524,0.8
3,Belgium,58381,9467,5037,817,11589616,376,42,42659,5.6
4,Brazil,514849,29314,2422,138,212559409,25,34,14103,2.2

In [38]:
totaldeaths.dtypes

rowheadings                object
cases                       int64
deaths                      int64
cases_per_million           int64
deaths_per_million          int64
population                  int64
population_density          int64
median_age                  int64
gdp_per_capita              int64
hospital_beds_per_100k    float64
dtype: object

## Utilisation de webdriver pour le site de amazon
* Lien Vente flash 
* les marges, les titres, les prix
* Rapport sur le web scrapping 
* Poser une question et repondre a une question en utilisant le webdriver
* Par binome ou trinome